In [1]:
import pandas as pd
import sqlite3

In [2]:
csv_file_path = 'Outputs/cars_sold_uk.csv'
df = pd.read_csv(csv_file_path)

In [3]:
df.head()

,make,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0

In [5]:
sqlite_file = 'Outputs/cars_sold.sqlite'

In [6]:
conn = sqlite3.connect(sqlite_file)

In [7]:
df.to_sql('cars_sold', conn, index=False, if_exists='replace')

99184

In [8]:
conn.commit()

In [9]:
query = 'SELECT * FROM cars_sold LIMIT 10'
result = conn.execute(query)

In [10]:
for row in result.fetchall():
    print(row)

('Audi', ' A1', 2017, 12500, 'Manual', 15735, 'Petrol', 150, 55.4, 1.4)
('Audi', ' A6', 2016, 16500, 'Automatic', 36203, 'Diesel', 20, 64.2, 2.0)
('Audi', ' A1', 2016, 11000, 'Manual', 29946, 'Petrol', 30, 55.4, 1.4)
('Audi', ' A4', 2017, 16800, 'Automatic', 25952, 'Diesel', 145, 67.3, 2.0)
('Audi', ' A3', 2019, 17300, 'Manual', 1998, 'Petrol', 145, 49.6, 1.0)
('Audi', ' A1', 2016, 13900, 'Automatic', 32260, 'Petrol', 30, 58.9, 1.4)
('Audi', ' A6', 2016, 13250, 'Automatic', 76788, 'Diesel', 30, 61.4, 2.0)
('Audi', ' A4', 2016, 11750, 'Manual', 75185, 'Diesel', 20, 70.6, 2.0)
('Audi', ' A3', 2015, 10200, 'Manual', 46112, 'Petrol', 20, 60.1, 1.4)
('Audi', ' A1', 2016, 12000, 'Manual', 22451, 'Petrol', 30, 55.4, 1.4)

In [11]:
conn.close()