In [1]:
# Import dependencies
import pandas as pd
import os

In [2]:
# Get the current working directory
pwd = os.getcwd()

In [3]:
# Create a list to store all the df's ready to concat

# Empty list creation
concat_dfs = []

# Loop through the resources folder to obtain CSV data files
for file in os.listdir(pwd + "\\..\\Resources\\"):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):

        # Get the car make name from the filename
        car_make = filename.split(".")[0]

        # Create a df
        df = pd.read_csv(pwd + "\\..\\Resources\\" + filename)
        # Add an aditional column for the 'make' of the cars
        df['make'] = car_make.title()
        # Rearrange the columns
        df = df[['make','model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize']]
        # Add the df to the list
        concat_dfs.append(df)
    else:
        # If the file is not CSV, skip
        continue

In [4]:
# Concat all the df's
concat_df = pd.concat(concat_dfs)

# Reset the index to remove duplicate index's
concat_df = concat_df.reset_index(drop=True)

# View the end of the df to check reset_index result
concat_df.tail()

,make,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
99182,Volkswagen,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
99183,Volkswagen,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
99184,Volkswagen,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
99185,Volkswagen,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
99186,Volkswagen,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

In [5]:
# Check the df for null values
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99187 entries, 0 to 99186
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   make          99187 non-null  object
 1   model         99187 non-null  object
 2   year          99187 non-null  int64
 3   price         99187 non-null  int64
 4   transmission  99187 non-null  object
 5   mileage       99187 non-null  int64
 6   fuelType      99187 non-null  object
 7   tax           99187 non-null  int64
 8   mpg           99187 non-null  float64
 9   engineSize    99187 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 7.6+ MB

In [6]:
# describe the df
concat_df.describe()

,year,price,mileage,tax,mpg,engineSize
count,99187.000000,99187.000000,99187.000000,99187.000000,99187.000000,99187.000000
mean,2017.087723,16805.347656,23058.914213,120.299838,55.166825,1.663280
std,2.123934,9866.773417,21148.523721,63.150926,16.138522,0.557646
min,1970.000000,450.000000,1.000000,0.000000,0.300000,0.000000
25%,2016.000000,9999.000000,7425.000000,125.000000,47.100000,1.200000
50%,2017.000000,14495.000000,17460.000000,145.000000,54.300000,1.600000
75%,2019.000000,20870.000000,32339.000000,145.000000,62.800000,2.000000
max,2060.000000,159999.000000,323000.000000,580.000000,470.800000,6.600000

In [9]:
# View record for year = 2060
max_year = concat_df.loc[concat_df['year'] == 2060, :].index
max_year

Index([39175], dtype='int64')

In [10]:
# Drop row with year = 2060
concat_df = concat_df.drop(max_year).reset_index(drop=True)

concat_df.describe()

,year,price,mileage,tax,mpg,engineSize
count,99186.000000,99186.000000,99186.000000,99186.000000,99186.000000,99186.000000
mean,2017.087291,16805.451606,23058.594126,120.298984,55.166950,1.663283
std,2.119570,9866.768844,21148.390071,63.150672,16.138556,0.557649
min,1970.000000,450.000000,1.000000,0.000000,0.300000,0.000000
25%,2016.000000,9999.000000,7424.500000,125.000000,47.100000,1.200000
50%,2017.000000,14495.000000,17460.000000,145.000000,54.300000,1.600000
75%,2019.000000,20870.000000,32337.750000,145.000000,62.800000,2.000000
max,2020.000000,159999.000000,323000.000000,580.000000,470.800000,6.600000

In [11]:
# View record for price = 159999
concat_df.loc[concat_df['price'] == 159999, :]

,make,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
50472,Mercedes,G Class,2020,159999,Semi-Auto,1350,Petrol,145,21.4,4.0

In [12]:
# View record for tax = 580
concat_df.loc[concat_df['tax'] == 580, :]

,make,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
7475,Audi,R8,2014,59990,Automatic,31930,Petrol,580,21.9,5.2
9076,Audi,R8,2008,33950,Automatic,52500,Petrol,580,21.0,4.2
20607,Bmw,M3,2009,16950,Manual,65000,Petrol,580,21.9,4.0
20608,Bmw,M3,2009,16950,Manual,65000,Petrol,580,21.9,4.0
24612,Ford,Mustang,2017,27890,Semi-Auto,26452,Petrol,580,23.5,5.0
32546,Ford,Mustang,2016,27925,Manual,11600,Petrol,580,20.9,5.0
47553,Mercedes,C Class,2013,23000,Semi-Auto,43442,Petrol,580,23.0,6.2
50653,Mercedes,M Class,2014,32995,Semi-Auto,33271,Petrol,580,23.9,5.5
55912,Mercedes,G Class,2013,45000,Automatic,52438,Diesel,580,25.2,3.0
57059,Mercedes,C Class,2014,21495,Automatic,56444,Petrol,580,23.5,6.2
97855,Volkswagen,Touareg,2007,7495,Automatic,122965,Diesel,580,26.9,3.0

In [11]:
# View record for year = 1970
min_year = concat_df.loc[concat_df['year'] == 1970, :].index
min_year

Index([56345, 81234], dtype='int64')

In [12]:
# Drop row with year = 1970
concat_df = concat_df.drop(min_year).reset_index(drop=True)

concat_df.describe()

,year,price,mileage,tax,mpg,engineSize
count,99184.000000,99184.000000,99184.000000,99184.000000,99184.000000,99184.000000
mean,2017.088240,16805.432620,23058.541297,120.296318,55.167242,1.663303
std,2.109018,9866.813678,21148.535002,63.148078,16.138586,0.557628
min,1996.000000,450.000000,1.000000,0.000000,0.300000,0.000000
25%,2016.000000,9999.000000,7424.000000,125.000000,47.100000,1.200000
50%,2017.000000,14495.000000,17460.000000,145.000000,54.300000,1.600000
75%,2019.000000,20870.000000,32337.250000,145.000000,62.800000,2.000000
max,2020.000000,159999.000000,323000.000000,580.000000,470.800000,6.600000

In [13]:
# Output the completed data to a new csv
concat_df.to_csv("Outputs/cars_sold_uk.csv", index=False)