In [2]:
# Import dependencies
import pandas as pd
import os

In [24]:
# Get the current working directory
pwd = os.getcwd()

In [17]:
# Create a list to store all the df's ready to concat

# Empty list creation
concat_dfs = []

# Loop through the resources folder to obtain CSV data files
for file in os.listdir(pwd + "\\..\\Resources\\"):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):

        # Get the car make name from the filename
        car_make = filename.split(".")[0]

        # Create a df
        df = pd.read_csv(pwd + "\\..\\Resources\\" + filename)
        # Add an aditional column for the 'make' of the cars
        df['make'] = car_make.title()
        # Rearrange the columns
        df = df[['make','model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize']]
        # Add the df to the list
        concat_dfs.append(df)
    else:
        # If the file is not CSV, skip
        continue

In [22]:
# Concat all the df's
concat_df = pd.concat(concat_dfs)

# Reset the index to remove duplicate index's
concat_df = concat_df.reset_index(drop=True)

# View the end of the df to check reset_index result
concat_df.tail()

,make,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
99182,Volkswagen,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
99183,Volkswagen,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
99184,Volkswagen,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
99185,Volkswagen,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
99186,Volkswagen,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

In [23]:
# Check the df for null values
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99187 entries, 0 to 99186
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   make          99187 non-null  object
 1   model         99187 non-null  object
 2   year          99187 non-null  int64
 3   price         99187 non-null  int64
 4   transmission  99187 non-null  object
 5   mileage       99187 non-null  int64
 6   fuelType      99187 non-null  object
 7   tax           99187 non-null  int64
 8   mpg           99187 non-null  float64
 9   engineSize    99187 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 7.6+ MB

In [25]:
# Output the completed data to a new csv
concat_df.to_csv("Outputs/cars_sold_uk.csv", index=False)